<nav class="navbar navbar-light bg-primary">
    <div class="container-fluid">
        <h1 style="color: aliceblue;">Crud</h1>
        <div class="d-flex">
            <button (click)="clickAddEmployee()" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-success">Add Employee</button>
        </div>
    </div>
</nav>

<table class="table mt-3">
    <thead>
        <tr>
            <th scope="col">Employee ID</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Email ID</th>
            <th scope="col">Mobile No.</th>
            <th scope="col">Salary</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let row of employeeData">
            <td>{{row.id}}</td>
            <td>{{row.firstName}}</td>
            <td>{{row.lastName}}</td>
            <td>{{row.email}}</td>
            <td>{{row.mobile}}</td>
            <td>{{row.salary}}</td>
            <td>
                <button (click)="onEdit(row)" style="color: aliceblue;" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-info">Edit</button>
                <button (click)="deleteEmployee(row)" class="btn btn-danger mx-3">Delete</button>
            </td>
        </tr>
    </tbody>
</table>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Employee Details</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form role="form" [formGroup]="formValue">
                <div class="mb-3">
                    <label class="form-label">First Name</label>
                    <input type="text" class="form-control" formControlName="firstName" [ngClass]="{'is-invalid':formValue.get('firstName')?.touched && formValue.get('firstName')?.invalid}">
                    <div class="invalid-feedback" *ngIf="f.firstName.touched && f.firstName.invalid">
                      <small class="text-danger" *ngIf="f.firstName.errors?.required">
                        FirstName is required
                      </small>  
                    </div>
                </div>
                <div class="mb-3">
                  <label class="form-label">Last Name</label>
                  <input type="text" class="form-control" formControlName="lastName" [ngClass]="{'is-invalid':formValue.get('lastName')?.touched && formValue.get('lastName')?.invalid}">
                  <div class="invalid-feedback" *ngIf="f.lastName.touched && f.lastName.invalid">
                    <small class="text-danger" *ngIf="f.lastName.errors?.required">
                      LastName is required
                    </small>  
                  </div>
                </div>
                <div class="mb-3">
                  <label class="form-label">Email</label>
                  <input type="text" class="form-control" formControlName="email" [ngClass]="{'is-invalid':formValue.get('email')?.touched && formValue.get('email')?.invalid}">
                  <div class="invalid-feedback" *ngIf="f.email.touched && f.email.invalid">
                    <small class="text-danger" *ngIf="f.email.errors?.required">
                      Email is required
                    </small>  
                  </div>
                </div>
                <div class="mb-3">
                  <label class="form-label">Mobile No.</label>
                  <input type="text" class="form-control" formControlName="mobile" [ngClass]="{'is-invalid':formValue.get('mobile')?.touched && formValue.get('mobile')?.invalid}">
                  <div class="invalid-feedback" *ngIf="f.mobile.touched && f.mobile.invalid">
                    <small class="text-danger" *ngIf="f.mobile.errors?.required">
                      Mobile number is required
                    </small>  
                  </div>
                </div>
                <div class="mb-3">
                  <label class="form-label">Salary</label>
                  <input type="text" class="form-control" formControlName="salary" [ngClass]="{'is-invalid':formValue.get('salary')?.touched && formValue.get('salary')?.invalid}">
                  <div class="invalid-feedback" *ngIf="f.salary.touched && f.salary.invalid">
                    <small class="text-danger" *ngIf="f.salary.errors?.required">
                      Salary is required
                    </small>  
                  </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
          <button type="button" id="cancel" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" *ngIf="showAdd" (click)="postEmployeeDetails()" [disabled]="!formValue.valid" class="btn btn-primary">Add</button>
          <button type="button" *ngIf="showUpdate" (click)="updateEmployeeDetails()" class="btn btn-primary">Update</button>
        </div>
      </div>
    </div>
  </div>